*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 129px;
    background-color: #F2F4F1;
}
.redes img{
    width: 35px;
    height: 35px;
}
.end {
    display: flex;
    color:#373737;
    display: flex;
    margin-left:720px; 
}
li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    margin-right: 40px;
}
.copy{
    background-color: #446061;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 65px;
}
.copy p{
    height: 19px;
    color: #FFFFFF;
}